@import "/home/vikram/.cache/wal/colors.scss";
*{ all: unset;
}

/** General **/
.bar_class {
    border-radius: 0px;
    background-color:$background;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: $background;
    font-size: 18;
    border-radius: 10px;
    color: $foreground;
}

tooltip label {
    margin: 6px;
}


/** Widgets **/

.clock_time_sep {
    font-size: 20;
    color: $foreground;
    margin: 5 0 0 0;
}
.clock_time_class, .clock_minute_class {
    font-size: 23;
}
.clock_date_class {
    font-size: 18;
    margin: 0px 20px 0px -1px;
    color: $color6;
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: $foreground;
}

.clock_time_class {
    color: $foreground;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}


.membar {
  color: $color6;
  background-color: #38384d;
   font-size: 0px;
}
.batbar {
  color: $color4;
    background-color: #38384d;
  border-radius: 10px;
}
.brightbar trough highlight {
  background-color:$color4;
  border-radius: 10px;
}
.volbar trough highlight {
  background-color: $color5;
  border-radius: 10px;
  margin-left: 10px;
}
.volume_icon {
  font-size: 22;
  color: $color5;
  margin: 0px 10px 0px 10px;
}


.module_essid {
    font-size: 18;
    color: $color6;
  margin: 0px 10px 0px 0px;
}
.module-wif {
    font-size: 22;
    color: $color6;
    border-radius: 100%;
  margin: 0px 10px 0px 5px;
}

.iconmem {
    color: $color6;
    font-size: 19;
    margin-top: 10;
    margin-bottom: 10;
    margin-right: 11;
    margin-left: 9;
} .iconbat {
    font-size: 15;
    color: $color4;
    margin:10;
}
.bright_icon {
    font-size: 22;
    color: $color4;
  margin: 0px 10px 0px 10px;
}


.separ {
    color: #3e424f;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
  }

.mem_module {
    background-color: $background;
	border-radius: 16px;
  margin: 0px 10px 0px 3px;
  }
.bat_module {
    background-color: $background;
	border-radius: 16px;
  margin: 0px 10px 0px 10px;
  }


scale trough {
  all: unset;
  background-color: #22242b;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.works {
font-size: 23px;
font-weight: normal;
margin: 5px 0px 0px 20px;
}
.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  margin-top:2px;
  margin-right: 15px;
}

/* Unoccupied */
.0 {
color: #3e424f;
}

/* Occupied */
.01, .02, .03, .04, .05, .06 {
  color: $foreground;
}

/* Focused */
.011, .022, .033, .044, .055, .066 {
  color: $color2;
}

.song_cover_art {
	background-size: cover;	
	background-position: center;
	min-height: 24px;
	min-width: 24px;
	margin: 10px;
	border-radius: 100px;
}
.song {
	color: $color2;
	font-size : 18px;
	font-weight : bold;
	margin : 3px 5px 0px 0px;
}

.song_btn_play {
	color: $foreground;
	font-size : 28px;
	margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
	color: $color1;
	font-size : 24px;
	margin : 3px 0px 0px 5px;

}
// Calendar
.cal {
  background-color: $background;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: $foreground;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: $foreground;
}
calendar:selected {
  color: $color1;
}

calendar.header {
color: $color2;
font-weight: bold;
}

calendar.button {
color: $color2;
}

calendar.highlight {
color: $color2;
font-weight: bold;
}

calendar:indeterminate {
color: $foreground;
}




.music_pop {
  background-color: $background;
	border-radius: 16px;
}
.music_cover_art {
	background-size: cover;
	background-position: center;
	min-height: 100px;
  box-shadow: 5px 5px 5px 5px $background;
	min-width: 170px;
	margin: 20px;
	border-radius: 20px;
}
.music {
	color: $color2;
	font-size : 20px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.music_artist {
	color: $color2;
	font-size : 16px;
	font-weight : normal;
	margin : 0px 0px 0px 0px;
}

.music_btn_prev, .music_btn_play, .music_btn_next {
	font-family: Iosevka Nerd Font;
}
.music_btn_prev {
	color: $color1;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_play {
	color: $foreground;
	font-size : 48px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}
.music_btn_next {
	color: $color1;
	font-size : 32px;
	font-weight : normal;
	margin: 0px 0px 0px 0px;
}

.music_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, $color1 10%, $foreground 100% );
	border-radius: 24px;
}
.music_bar scale trough {
	all: unset;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 190px;
	margin : -10px 10px 20px 0px;
}

.audio-box {
  background-color: $background;
	border-radius: 16px;
}
.speaker_icon {
  font-size: 70px;
  color: $color3;
  margin: 0 50px 0 30px;
}

.speaker_text {
	color: $color2;
	font-size : 26px;
	font-weight : bold;
	margin: 20px 0px 0px 0px;
}

.speaker_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, $color3 10%, $color2 100% );
	border-radius: 24px;
}
.speaker_bar scale trough {
	all: unset;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 5px 0px;
}




.mic_icon {
  font-size: 60px;
  color: $color3;
  margin: 0 50px 10px 30px;
}

.mic_text {
	color: $color2;
	font-size : 26px;
	font-weight : bold;
	margin: 0px 0px 0px 0px;
}

.mic_bar scale trough highlight {
	all: unset;
    background-image: linear-gradient(to right, $color3 10%, $color2 100% );
	border-radius: 24px;
}
.mic_bar scale trough {
	all: unset;
    box-shadow: 0 6px 5px 2px #06060b;
	background-color: #232232;
	border-radius: 24px;
	min-height: 13px;
	min-width: 120px;
	margin : 0px 0px 20px 0px;
}

.audio_sep {
    color: #38384d;
    font-size: 18;
	margin : 0px 0px 0px 0px;
}

